body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background: url(onepiecebackgroundboat.jpg) no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 250px 0;
}

.header-content h1 {
    font-size: 3em;
    margin: 0;
}

.header-content p {
    font-size: 1.5em;
    margin: 10px 0;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #ff4081;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.features, .screenshots {
    padding: 50px 20px;
    text-align: center;
}

.feature-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-card {
    background-color: white;
    border-radius: 10px;
    
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 300px;
    margin: 10px;
    height: 400px;
    background-image: url(featurescardbackground.jpg);
}

.screenshot-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.screenshot-gallery img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
